.member-modal {
  background: var(--checkins-palette-background-paper);
  border: 2px solid var(--muted);
  height: 75%;
  left: 50%;
  max-width: 600px;
  min-width: 400px;
  overflow-y: auto;
  position: absolute;
  padding: 0.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

.member-modal h2 {
  margin-block-end: 0rem;
  margin-left: 0.5rem;
}

.member-modal-actions {
  margin-top: 1rem;
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.member-modal {
  .MuiTextField-root.fullWidth {
    width: calc(100% - 1rem);
  }

  .MuiTextField-root.halfWidth {
    width: calc(50% - 0.5rem);
  }

  .MuiTextField-root {
    margin: 0.5rem;
    width: 25ch;
  }
}
