h1 {
}

.inputCode {
  font-size: 40px;
  position: absolute;
  top: -25%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
}

.inputField {
  position: absolute;
  top: -15%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
}

#submitCode {
  text-transform: unset !important;

  position: absolute;
  margin-left: -50px;
  left: 50%;
  bottom: 55%;
}
