.bottom-nav {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  bottom: 0;
  /* width: calc(100% - var(--nav-width)); */
  z-index: 1;
}

.bottom-nav .button {
  border: 1px solid black;
  height: 75px;
  width: 33.3%;
}

.bottom-nav .button-selected {
  background-color: darkgray;
  border: 1px solid black;
  height: 75px;
  width: 33.3%;
}

@media (max-width: 750px) {
  .bottom-nav {
    width: 100%;
  }
}
