.admin-container {
  margin-bottom: 5rem;
}

.bottom-nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: calc(100% - 150px);
}

.bottom-nav .button {
  background-color: #fafafa;
  border: 1px solid black;
  height: 75px;
  width: 33.3%;
}

.bottom-nav .button-selected {
  background-color: darkgray;
  border: 1px solid black;
  height: 75px;
  width: 33.3%;
}

@media (max-width: 750px) {
  .bottom-nav {
    width: 100%;
  }
}
