.add-member {
  align-items: center;
  display: flex;
}

.add-member-modal {
  position: absolute;
  min-width: 400px;
  max-width: 600px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.add-member-modal h2 {
  margin-block-end: 0rem;
  margin-left: 0.5rem;
}

.add-member-modal-actions {
  margin-top: 1rem;
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add-member-modal .MuiTextField-root.fullWidth {
  width: calc(100% - 1rem);
}

.add-member-modal .MuiTextField-root.halfWidth {
  width: calc(50% - 0.5rem);
}

.add-member-modal .MuiTextField-root {
  margin: 0.5rem;
  width: 25ch;
}

.directory-page .members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.directory-page .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.directory-page .MuiContainer-root {
  margin: 0px;
  max-width: 420px;
  padding-right: 0px;
  padding-left: 6px;
}
