.email-page .stepper-button-container {
    margin-top: 1rem;
    text-align: right;
}

.email-page .stepper-button {
    margin-left: 1rem;
}

.email-page .current-step-content-card {
    margin-top: 1rem;
}

.email-page .current-step-content-card .file-preview-container {
    margin-top: 2rem;
}

.email-page .current-step-content-card .file-preview-container .file-preview {
    background-color: #282c34;
    color: white;
    width: 100%;
    border: none;
    outline: none;
    resize: vertical;
    min-height: 70px;
}

.email-page .current-step-content-card .send-test-email-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2rem;
}

.email-page .current-step-content-card .send-test-email-input {
    width: 400px;
}

.email-page .current-step-content-card .send-test-email-button {
    height: 56px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.send-email-to-all-confirmation-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    padding:0.5rem;
}