.kudos-page {
  margin-top: 1rem;
  width: 100%;
  padding: 0 2rem 0 2rem;
}

.kudos-page .received-kudos-header,
.kudos-page .sent-kudos-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.kudos-page .kudos-card {
  margin-top: 1rem;
}

.kudos-page .kudos-page-header {
  display: flex;
  gap: .5em;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .kudos-page {
    margin: 5rem;
  }
}

@media (max-width: 800px) {
  .kudos-page {
    margin: 5rem;
  }

  .kudos-page .kudos-list .members-container .MuiChip-avatar {
    margin-left: 0;
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media (max-width: 425px) {
  .kudos-page {
    margin: 1rem;
  }
  .kudos-page .kudos-list .members-container .MuiChip-avatar {
    margin-left: 0;
    height: 2.5rem;
    width: 2.5rem;
  }

  .kudos-page .kudos-page-header {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .kudos-page {
    margin: 01rem;
  }

  .kudos-page .kudos-list .members-container .MuiChip-avatar {
    margin-left: 0;
    height: 2rem;
    width: 2rem;
  }
}
