.chip {
  margin: 0.25rem;
}

.left {
  display: flex;
  justify-content: center;
  width: 50%;
}

.profile-details .avatar {
  height: 5rem;
  width: 5rem;
}

.profile-page {
  display: flex;
  height: 100%;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
