.chip {
  margin: 0.25rem;
}

.MuiGrid-root.left {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 750px) {
  .profile-page {
    margin-left: 1rem;
  }
  .left {
    justify-content: flex-start;
  }
}

.member-profile-card .MuiCardHeader-root .MuiCardHeader-avatar .large {
  height: 8rem;
  width: 8rem;
}

.MuiCard-root .member-profile-card {
  overflow: unset !important;
}

.profile-details {
  display: flex;
  align-items: center;
}

.profile-details .avatar {
  height: 10rem;
  width: 10rem;
  margin-right: 1rem;
}

.profile-page {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
}

.MuiGrid-root.right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
