.chip {
  margin: 0.25rem;
}

.left {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 750px) {
  .profile-page {
    margin-left: 1rem;
  }
  .left {
    justify-content: flex-start;
  }
}

.profile-details .avatar {
  height: 5rem;
  width: 5rem;
}

.profile-page {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
