.detail-onboard {
  display: flex;
  justify-content: center;
  column-gap: 5%;
  height: calc(100vh - 64px);
}

.textBackground{
  background-color: rgb(245, 245, 245);
  width: fit-content;
}

.grid{
  background-color: rgb(245, 245, 245);

}

.header{
  background-color: rgb(217, 217, 217);
  height: fit-content;
}