.Profile {
  padding: 12px;
}

.Profile .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Profile .profile-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  padding: 0 1rem 1rem 0;
}

.Profile .profile-grid .MuiCard-root {
  height: 100%;
  margin-bottom: 0;
}

.Profile .profile-grid .profile-page-bio {
  max-height: 200px;
}

.profile-kudos .kudos-card {
  margin-bottom: 1rem;
}

@media (max-width: 1024px) {
  .profile-kudos .kudos-card .kudos-card-header {
    display: block;
  }
}

@media (max-width: 800px) {
  .profile-kudos .kudos-card .kudos-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .profile-kudos .kudos-card .kudos-card-header .members-container {
    display: block;
  }
}

@media (max-width: 750px) {
  .Profile .profile-grid {
    grid-template-columns: 100%;
    padding: 0 0 1rem 0;
  }
}

@media (max-width: 425px) {
  .profile-kudos .kudos-card .kudos-card-header {
    display: block;
    text-align: left;
  }

  .profile-kudos .kudos-card .kudos-card-header .members-container {
    display: block;
  }

  .profile-kudos
    .kudos-card
    .kudos-card-header
    .kudos-status-container
    p:first-child {
    margin-left: 0;
  }

  .profile-kudos .kudos-list .kudos-card .members-container {
    display: block;
    flex-direction: column;
  }

  .profile-kudos .kudos-status-container {
    text-align: left;
  }

  .profile-kudos .kudos-list .kudos-card .kudos-recipient-list {
    display: block;
  }

  .profile-kudos .kudos-card .kudos-card-content .kudos-recipient-list {
    display: block;
  }

  .profile-kudos .kudos-card .kudos-card-content .kudos-recipient-list div {
    margin-bottom: 0.25rem;
  }
}
