.Profile {
  padding: 12px;
}

.Profile .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Profile .profile-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  padding: 0 1rem 1rem 0;
}

.Profile .profile-grid .MuiCard-root {
  height: 100%;
  margin-bottom: 0;
}

.Profile .profile-grid .profile-page-bio {
  max-height: 200px;
}

@media (max-width: 750px) {
  .Profile .profile-grid {
    grid-template-columns: 100%;
    padding: 0 0 1rem 0;
  }
}
