.pulse-report-page {
  .date-pickers {
    display: flex;
    gap: 1rem;
  }

  .expand-more {
    margin-bottom: 1rem;
  }

  .recharts-wrapper {
    display: inline-block;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
  }

  .score {
    font-size: 1.5rem;
  }

  td {
    padding: 0.5rem;
  }
}
