.pulse-report-page {
  .average-header {
    height: 3.5rem;
  }

  .date-pickers {
    display: flex;
    gap: 1rem;
  }

  .expand-more {
    margin-bottom: 1rem;
  }

  .recharts-wrapper {
    display: inline-block;
  }

  .response-summary {
    max-height: 12rem;
    overflow-y: auto;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .score {
    font-size: 1.5rem;
  }

  td {
    padding: 0.5rem;
  }
}
