.received-requests-page {
  width: 100%;
}

.received-requests-page .received-requests-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.received-requests-page .received-requests-filter-container {
  display: grid;
  grid-template-columns: 360px 260px;
  align-items: end;
  grid-column-gap: 1em;
}

.received-requests-page .request-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4em;
}

.received-requests-page .received-requests-container {
  margin-top: 1em;
}

.received-requests-page .submitted-requests-container {
  margin-top: 1em;
  margin-bottom: 2em;
}

.received-requests-page .no-requests-message {
  background-color: #e5e5e5;
  color: gray;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.received-requests-page .card-content-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.received-requests-page .card-content-grid .request-members-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.received-requests-page .request-members-container .member-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 30px 5px 10px;
  margin: 10px;
  border-radius: 40px;
  background-color: #e5e5e5;
}

.received-requests-page .card-content-grid .request-details-container {
  display: grid;
  grid-template-columns: 230px 170px 40px;
  align-items: center;
}

.received-requests-page .card-content-grid .request-dates-container {
  margin-left: 1em;
}

.received-requests-page .card-content-grid .request-status-container {
  text-align: center;
}

.received-requests-page .card-content-grid .submission-link-container {
  width: 100%;
  text-align: right;
}

@media screen and (max-width: 1600px) {
  .received-requests-page {
    padding: 4em 2em 2em 2em;
  }
}

@media screen and (max-width: 1370px) {
  .received-requests-page .received-requests-filter-container {
    margin-top: 1em;
  }
}

@media screen and (max-width: 840px) {
  .received-requests-page {
    padding: 4em 2em 2em 2em;
  }

  .received-requests-page .received-requests-filter-container {
    grid-template-rows: 50px 50px;
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .received-requests-page .card-content-grid .request-members-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .received-requests-page .request-members-container .member-chip {
    margin-left: 0;
  }
}

@media screen and (max-width: 530px) {
  .received-requests-page .card-content-grid .request-members-container {
    align-items: center;
  }

  .received-requests-page .card-content-grid .request-details-container {
    grid-template-rows: 50px 50px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
  }

  .received-requests-page .card-content-grid .request-dates-container {
    grid-column: 1 / span 2;
  }
}