/* using !important tag only for pdf canvas override*/
.custom-button {
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  margin: 10px;
  padding: 3px 9px;
  text-transform: uppercase;
}

.pdf-container {
  display: flex;
  justify-content: center;
  margin-bottom: "20px";
}

.react-pdf__Page__canvas {
  display: unset !important;
  height: unset !important;
  width: 75% !important;
}
