.settings-page {
  /*
    Would like to see an @global setting for this type of variable
  */
  --settings-page-padding: 3rem;
  --control-color-size: 3rem;

  margin: 0 var(--settings-page-padding);
}

[class^='settings-grid'] {
  display: grid;
  grid-gap: var(--settings-page-padding);
}

.grid-items-center {
  align-items: center;
}

.grid-items-start {
  align-items: start;
}

@media (min-width: 768px) {
  .settings-grid-2col {
    grid-template-columns: 1fr 1fr;
  }

  .settings-grid-3col {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .settings-grid-4col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.hidden {
  display: none;
}

/* Settings Types */
.settings-type {
  display: grid;
  gap: 0 1rem;
  grid-template-areas: 'label control' 'description control';
  grid-template-columns: minmax(10rem, 1fr) 1fr;
  grid-template-rows: auto auto;
  margin: 1rem 0 2rem;

  > label {
    grid-area: label;
    align-self: center;

    * {
      line-height: 1;
    }
  }
  > p {
    grid-area: description;
    align-self: center;
  }
  > .settings-control {
    grid-area: control;
    align-self: start;
  }

  input[type='color'] {
    height: var(--control-color-size);
    width: var(--control-color-size);
  }
}
