.SkillCategoriesPage-root .skill-categories-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.SkillCategoriesPage-root .skill-categories-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .SkillCategoriesPage-root .skill-categories-header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .SkillCategoriesPage-root .skill-categories-actions {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 150px;
    }

    .SkillCategoriesPage-root .skill-categories-actions .search-skill-categories-field {
        grid-row: 1;
        grid-column: 1;
    }

    .SkillCategoriesPage-root .skill-categories-actions .download-skills-button {
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
    }

    .SkillCategoriesPage-root .skill-categories-actions .filter-skill-categories-field {
        grid-row: 2;
        grid-column: 1;
    }

    .SkillCategoriesPage-root .skill-categories-actions .new-skill-category-button {
        grid-row: 2;
        grid-column: 2;
    }
}