.team-skill-report-page {
  margin: 1rem 3rem;
}

.filter-section {
  display: flex;
  flex-direction: column;
}

.member-skills-card {
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-results {
  margin: 1rem;
}

.search-results .MuiChip-root {
  margin: 0.25rem;
}

.team-skill-autocomplete {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 850px) {
  .button-parent {
    justify-content: center;
  }
  .team-skill-autocomplete {
    width: unset;
  }
}

.team-skill-report-page .active {
  background: linear-gradient(
    95deg,
    rgb(242, 113, 33) 0%,
    rgb(233, 64, 87) 50%,
    rgb(138, 35, 135) 100%
  );
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.team-skill-report-page .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.team-skill-report-page .inactive {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
