.MuiCard-root {
  margin-bottom: 1rem;
}

.summary-card {
  max-height: 15rem;
  max-width: 45%;
  min-width: 45%;
  word-wrap: break-word;
}

.guild-actions {
  display: flex;
  justify-content: flex-end;
}

.guild-page {
  display: flex;
  flex-direction: column;
}

.guild-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 1rem;
}

.guilds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 12px;
  margin-right: 12px;
}
