.datePickerField {
    display: flex;
    margin: 0.7rem;
}
.datePickerField .MuiFormControl-root {
    width: auto;
}
.datePickerFlexWrapper {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-bottom: 0.8rem;
}