.datePickerField {
  display: flex;
  margin: 0.7rem;
  background-color: var(--white);
}
.datePickerField .MuiFormControl-root {
  width: auto;
}
.datePickerFlexWrapper {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}

.reviewPeriodSection {
  border: 1px solid var(--primary-link-dark);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--checkins-palette-gray-light);
  cursor: pointer;
}

.reviewPeriodSection:hover {
  background-color: transparent;
  transition: all 0.4s ease-out;
}
