.date-picker-field {
  display: flex;
  margin: 0.7rem;

  .MuiFormControl-root {
    width: auto;
  }
}

.date-pickers-container {
  display: flex;
}

.date-pickers-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
