.review-period-card {
  .bottom-row {
    padding: 0.5rem;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .top-row {
    padding-left: 0.7rem;

    &:hover {
      cursor: pointer;
    }
  }
}
