micronaut:
  server:
    cors:
      enabled: true
      configurations:
        web:
          allowedOrigins:
            - ^http(|s):\/\/localhost:.*$
---
datasources:
  default:
    url: ${JDBC_URL:`jdbc:postgresql://localhost:5432/checkinsdb`}
    username: postgres
    password: "postgres"
---
credentials:
  roles:
    SUPER:
      - ADMIN
      - PDL
      - MEMBER
    ADMIN:
      - ADMIN
    PDL:
      - PDL
    MEMBER:
      - MEMBER
