.ad-hoc-next-button {
  background-color: white;
  color: #3f51b5;
  text-decoration: none;
}

.preview-modal-content {
  margin: 30px;
}

.preview-modal-content .template-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
