version: '3'
services:
  postgresql:
    image: postgres:11.6
    environment:
      POSTGRES_DB: checkinsdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    container_name: checkinsdb
  sonarqube:
    image: sonarqube:lts
    ports:
      - 9000:9000
