.checkin {
  font-family: "Shadows Into Light", cursive;
  font-size: calc(1rem + 1vw);
  margin-top: 0px;
  padding-top: 10px;
  margin-left: 10px;
}

@media print {
  nav {
    display: none;
  }
}

.hours-upload-modal .buttons {
  display: flex;
  justify-content: center;
}

.hours-upload-modal label {
  cursor: pointer;
}

.hours-upload-modal {
  background-color: #fff;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  min-width: 400px;
  max-width: 600px;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* .notification-badge {
  position: absolute;
  top: 8px;
  right: 32px;
  padding: 8px 8px;
  border-radius: 50%;
  background-color: green;
  z-index: 1;
} */
