@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
aside h1 {
  color: #255aa8;
}
aside h4, aside h3 {
  color: #7b7c81;
}
li, a {
    margin: 40px 0 -30px 0;
    color: #FFFFFF;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
li {
    width: 230px;
    text-indent: 45px;
}
a:focus {
    display: block;
    color: #7b7c81;
    background-color: #eee;
    transition: all .5s;
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #FFFFFF;
    width: 15px;
    height: 3px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}
#trigger {
    height: 12px;
    background: none;
}
#burger:before {
    content: " ";
    top: 5px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 10px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 17px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 12px;
    top: -1px;
    left: 7px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 12px;
    top: 1px;
    left: 7px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    width: 50px;
    height: 50px;
    background-color: #72c7d5;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}
