.guide-info {
  text-align: left;
  margin: 0.75rem 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.guide-link {
  margin-left: 1rem;
}

.guide-icon {
  vertical-align: middle;
}
