.MuiCard-root {
  margin-bottom: 1rem;
}

.summary-card {
  max-height: 15rem;
  max-width: 45%;
  min-width: 45%;
  word-wrap: break-word;
}

.team-page {
  display: flex;
  flex-direction: column;
}

.team-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
