.action-items-container {
  height: fit-content;
  margin: 0 auto;
}

.add-action-item-div {
  display: flex;
  padding: 12px 8px;
}

.action-items .description-field {
  text-align: left;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.action-items-info {
  text-align: left;
  display: inline-block;
  margin-bottom: 1px;
  margin-top: 1px;
}

.action-items .drag-icon {
  display: flex;
  align-items: center;
}

.action-items .skeleton {
  padding-right: 10px;
  width: 100%;
}

.action-items-container .skeleton-div {
  display: flex;
}

.action-item-button-div {
  display: flex;
  flex-direction: row;
}

.action-items .text-input {
  padding: 5px;
  width: 100%;
}
