.ReceivedRequestCard-redTypography {
  color: var(--checkins-palette-red);
}

.ReceivedRequestCard-yellowTypography {
  color: var(--checkins-palette-yellow);
}

.ReceivedRequestCard-greenTypography {
  color: var(--checkins-palette-green);
}

.ReceivedRequestCard-darkGrayTypography {
  color: var(--checkins-palette-gray-dark);
}

.ReceivedRequestCard-grayTypography {
  color: var(--checkins-palette-gray);
}