.person-name {
  color: var(--checkins-palette-content-color);
}

.response-link {
  color: rgb(42, 55, 172);
  text-decoration: none;
  font-size: 1rem;
}

.has-padding-top {
  padding-top: 1em;
}

.response-link:hover {
  background-color: lightgray;
}

.red-text {
  color: rgb(207, 120, 20);
}

.person-divider {
  min-width: 100%;
  color: rgb(231, 230, 227);
}

.dark-gray-text {
  color: rgb(85, 83, 83);
}

.person-row {
  padding-top: 1em;
  padding-bottom: 1em;
}

.MuiCardHeader-action {
  margin: 1em 0 0;
  padding-top: 1em;
}

.no-wrap {
  flex-wrap: nowrap;
}

.align-center {
  text-align: center;
  justify-content: center;
  align-self: center;
  align-content: center;
}

.align-end {
  text-align: right;
}

.feedback-request-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 1em;
  width: 100%;
}

.MuiFormControl-root {
  width: 20%;
  margin-right: 2em;
}

.responder-name {
  display: inline;
}

@media screen and (max-width: 769px) {
  .card-info-container {
    margin-left: 2.5em;
    text-align: right;
  }
  .response-link {
    font-size: 0.7rem;
  }
}
