.volunteer-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .manage-btn {
    position: absolute;
    top: 1rem;
    right: 4.5rem;
  }

  .MuiCardHeader-root {
    padding-bottom: 0;
  }

  .row {
    display: flex;
    align-items: start;
  }

  table {
    border-collapse: collapse;

    img {
      max-height: 5rem;
    }
  }

  td,
  th {
    padding: 0.5rem;
    color: black; /* Ensures text color remains black */
  }

  th {
    background-color: var(--oci-orange);
    border-right: 1px solid var(--oci-light-blue);
  }

  th:last-child {
    border-right: none;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  .actions-th {
    width: 6rem;
  }

  .warning {
    font-style: italic;
  }
}

.volunteer-dialog {
  [role='dialog'] {
    width: 30rem;
  }

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding-top: 1rem !important;

    .MuiTextField-root {
      width: 100%;
    }
  }
}