.notes h1 {
  margin: 10px auto;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.container > canvas {
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
}

.container .skeleton {
  border: 2px solid black;
  min-height: 150px;
  padding: 5px;
}

.container textarea {
  border: 2px solid black;
  min-height: 150px;
  padding: 5px;
  width: 100%;
}

.skeleton {
  width: 100%;
}
