.feedback-recipient-selector {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem 1rem 2rem;
}

.selected-recipients-container {
  width: 100%;
  height: 50%;
  min-height: 380px;
  margin-top: 2em;
  padding: 20px 0 20px 26px;
  border-radius: 20px;
  border: 1px dashed gray;
}

.selectable-recipients-container {
  width: 100%;
  height: 50%;
  min-height: 300px;
  margin-top: 2em;
}

.selected-recipients-container .recipient-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selectable-recipients-container .recipient-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 321px) and (max-width: 820px) {
  .selected-recipients-container {
    padding: 10px 5px 10px 5px;
  }
}
