.note .container {
  display: flex;
  justify-content: center;
  position: relative;
}

.note .container > canvas {
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
}

.note .container textarea {
  min-height: 150px;
  padding: 5px;
  width: 100%;
}

.note .container .skeleton {
  border: 2px solid black;
  min-height: 150px;
  padding: 5px;
}

.note .skeleton {
  width: 100%;
}
