.notes {
  margin: 0 auto;
  width: 75%;
}

.notes h1 {
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.container > canvas {
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
}

.container textarea {
  border: 2px solid black;
  min-height: 150px;
  padding: 5px;
  width: 100%;
}

.is-loading {
  background: repeating-linear-gradient(
    to bottom,
    white,
    white 10px,
    lightgray 10px,
    lightgray 25px
  );
  border: 2px solid black;
  min-height: 150px;
  padding: 5px;
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
}
