.feedback-request-page {
  margin: 4em 2em 0 2em;
  height: 100%;
  max-width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2em 0;
}

.card-container {
  margin: 1rem calc(2rem - 20px) 1rem calc(2rem - 20px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.disabled-link {
  pointer-events: none;
  text-decoration: none;
}
.no-underline-link {
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 800px) {
  .feedback-request-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 2rem 5% 0 5%;
  }

  .header-container {
    margin: 0;
  }

  .current-step-content {
    max-width: 100%;
  }

  .card-container {
    width: 100%;
    align-self: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  .feedback-recipient-selector {
    padding: 1em 0 0;
  }

  .feedback-template-card {
    max-width: 80%;
    max-height: 40%;
  }
}

@media (max-width: 320px) {
  body {
    position: relative;
  }

  .feedback-request-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    overflow-x: hidden;
  }

  .header-container {
    margin-left: 1em;
    margin-right: 1em;
  }

  .card-container {
    width: 100%;
    align-self: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  .feedback-template-card {
    max-width: 70%;
    max-height: 30%;
  }

  .feedback-recipient-selector {
    padding: 1em 0 0;
  }
}
