.add-user-to-role {
  display: flex;
  align-items: center;
}

.role-header {
  display: flex;
  justify-content: space-between;
}
.role-content .member-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.role-content .member-card .icon {
  padding-right: 16px;
  cursor: pointer;
}

.role-content .role-search {
  margin-bottom: 1rem;
}

.role-content .roles {
  display: flex;
}

@media (min-width: 750px) {
  .role-content .roles {
    display: block;
  }
}

.role-content .roles .role {
  margin: 1rem;
}

.role-content .roles .role .role-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.role-content .roles .add-user-to-role .person-icon {
  cursor: pointer;
  display: flex;
  margin-left: 0.5rem;
}

.role-content .role-top {
  margin-left: 16px;
}
