.certifications {
  padding: 1rem;
}

.certification-dialog {
  .MuiDialogContent-root {
    width: 30rem;

    > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    padding-top: 1rem !important;
  }

  .MuiTextField-root {
    width: 100%;
  }
}
