#earned-certifications-table {
  .MuiCardHeader-root {
    padding-bottom: 0;
  }

  .row {
    display: flex;
    align-items: start;
  }

  table {
    border-collapse: collapse;

    img {
      max-height: 5rem;
    }
  }

  td,
  th {
    border: 1px solid gray;
    padding: 0.5rem;
  }

  th {
    background-color: var(--oci-orange);
  }
}

.earned-certifications-dialog {
  [role='dialog'] {
    width: 30rem;
  }

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding-top: 1rem !important;

    .MuiTextField-root {
      width: 100%;
    }
  }
}
