#earned-certifications-table {
  display: flex;
  justify-content: center;

  .MuiCardHeader-root {
    padding-bottom: 0;
  }

  .row {
    display: flex;
    align-items: start;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;

    img {
      max-height: 5rem;
    }
  }

  td,
  th {
    padding: 0.5rem;
    text-align: center;
    color: black;
  }

  th {
    background-color: var(--oci-orange);
    border-right: 1px solid var(--oci-light-blue);
  }

  th:last-child {
    border-right: none;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }
}

.earned-certifications-dialog {
  [role='dialog'] {
    width: 30rem;
  }

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding-top: 1rem !important;

    .MuiTextField-root {
      width: 100%;
    }
  }
}
