#organizations {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.volunteer-dialog .MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1rem !important;
}

.volunteer-dialog .MuiTextField-root {
  width: 100%;
}

.volunteer-activities-card {
  width: 100%;
  margin: 1rem auto;
  box-shadow: var(--checkins-palette-shadow);
}

.volunteer-tables {
  .volunteer-relationships {
    width: 100%;
  }

  .manage-btn {
    position: absolute;
    top: 1rem;
    right: 4.5rem;
  }

  .MuiCardHeader-root {
    padding-bottom: 0;
  }

  .row {
    display: flex;
    align-items: start;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    img {
      max-height: 5rem;
    }
  }

  td,
  th {
    padding: 0.5rem;
    color: var(--checkins-palette-text-primary);
  }

  th {
    background-color: var(--oci-orange);
    border-right: 1px solid var(--oci-light-blue);
  }

  th:last-child {
    border-right: none;
  }

  tr:nth-child(even) {
    background-color: var(--checkins-palette-background-default);
    background-image: var(--checkins-palette-alternate-row-overlay);
  }

  tr:nth-child(odd) {
    background-color: var(--checkins-palette-background-default);
  }

  .actions-th {
    width: 6rem;
  }

  .warning {
    font-style: italic;
  }
}


.volunteer-tables .MuiIconButton-root {
  color: var(--checkins-palette-text-primary);
}

@media (prefers-color-scheme: dark) {
  .volunteer-tables .MuiIconButton-root {
    color: var(--checkins-palette-text-primary);
  }
}

.volunteer-dialog {
  [role='dialog'] {
    width: 30rem;
  }

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding-top: 1rem !important;

    .MuiTextField-root {
      width: 100%;
    }
  }
}