.kudos-card .kudos-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.kudos-card .kudos-card-header .members-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.kudos-card .kudos-card-header .kudos-status-container .kudos-action-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.kudos-card .kudos-card-content {
  padding: 1rem;
}

.kudos-card .kudos-card-content .kudos-recipient-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.kudos-card .MuiChip-label {
  font-weight: bold;
}

@media (max-width: 400px) {
  .kudos-list {
    min-width: 280px;
  }

  .kudos-list .kudos-card .members-container {
    display: block;
    flex-direction: column;
  }

  .kudos-list .kudos-card .kudos-recipient-list {
    display: block;
  }
}
