.arrow.disabled {
  opacity: 0.3;
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.info {
  margin-bottom: auto;
  margin-left: 25px;
  margin-top: auto;
  text-align: left;
}

.profile-section {
  display: flex;
  margin-left: 50px;
}
