.arrow {
  text-decoration: none;
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.date-input {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.info {
  margin-bottom: auto;
  margin-left: 12px;
  margin-top: auto;
  text-align: left;
}

.plus-button {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  min-width: 50px;
  padding-left: 0px;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
}

.react-datepicker-wrapper {
  margin-left: 12px;
  margin-right: 12px;
}

.title {
  display: flex;
  align-items: center;
}
