.arrow.disabled {
  opacity: 0.3;
}

.arrow {
  color: black;
  text-decoration: none;
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.date-input {
  display: flex;
  align-items: center;
  cursor: pointer
}

.documents {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.file-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info {
  margin-bottom: auto;
  margin-left: 25px;
  margin-top: auto;
  text-align: left;
}

.plus-button {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  min-width: 50px;
  padding-left: 0px;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.react-datepicker-wrapper {
  margin-left: 25px;
  margin-right: 25px;
}

.remove-file {
  margin-left: 10px;
  min-width: 30px;
  padding: 0px;
}

.title {
  display: flex;
  align-items: center;
}

.upload-doc {
  display: flex;
  align-items: center;
}
