.kudos-dialog .kudos-dialog-content {
    margin: 8rem 6rem 1rem 6rem;
    height: 100%;
}

.kudos-dialog .kudos-dialog-content .kudos-recipient-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}