.action-items > h1 {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 75%;
}

.action-items-container {
  border: solid 2px black;
  height: fit-content;
  margin: 0 auto;
  width: 75%;
}

.add-action-item-div {
  display: flex;
  padding: 12px 8px;
}

.action-items .description-field {
  text-align: left;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.action-items-info,
.action-items-info-hidden {
  text-align: left;
  display: inline-block;
  margin-bottom: 1px;
  margin-top: 1px;
}

.action-items-info-hidden {
  background-color: lightgrey;
  color: lightgrey;
  width: 90%;
}

.action-items .skeleton {
  padding-right: 10px;
  width: 100%;
}

.action-items-container .skeleton-div {
  display: flex;
}

.action-items-container .image-div {
  display: flex;
  cursor: auto;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 25px;
}

.text-input {
  padding: 5px;
  width: 100%;
}

.action-item-button-div {
  display: flex;
  flex-direction: row;
}
