.team-member-select {
  display: flex;
  flex-direction: column;
}

.team-member-select > .team-member {
  align-items: center;
  border-bottom: solid lightgray 1px;
  display: flex;
  font-weight: 600;
  padding: 0.5rem 0;
}

.team-member-select > .team-member.selected {
  background-color: #255aa8;
  color: white;
  font-weight: 600;
}

.team-member:hover {
  cursor: pointer;
  background-color: #357eeb;
  color: white;
}

.team-member-select > .team-member > .name {
  flex-grow: 1;
  margin: 0 1rem;
}

.team-member-select > .team-member > input {
  height: 1rem;
  width: 1rem;
}
