.root{
    min-Width: 50px;
    max-Width: 275px;
}

.templateName{
    width: 50%;
    margin: auto;
}

.description{
    text-align: center;
    min-height: 60px;
    max-height: 120px;
    max-width: 200px;
    color: gray;
}
.creator-wrapper{
    display: flex;
    padding-top: 20px;
    margin-left:  auto;
    margin-right:  auto;
}
.creator{
    font-weight: bold;
    text-align: center;
    margin-left: 2px;
    flex-direction: row;

}

.title {
    font-size: 14px;
}

.pos {
    margin-bottom: 12px;
}