.sbi-tips-page {
  height: 100%;
}

.submission-tips-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  margin-top: 3em;
}

.submission-tips {
  display: flex;
  flex-direction: row;
  margin: 8em 4em 0 4em;
  justify-content: space-evenly;
}

.sbi-circle {
  background: #3f51b5;
  color: #fff;
  width: 250px;
  height: 250px;
  line-height: 250px;
  border-radius: 50%;
  font-size: 150px;
  text-align: center;
}

.sbi-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2em 0 2em;
  max-width: 400px;
}

.sbi-info .sbi-info-title {
  margin: 20px 0 10px 0;
}

@media (max-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-top: 3em;
    padding-left: 14px;
    margin-bottom: 28px;
  }

  .submission-tips {
    display: flex;
    flex-direction: column;
    margin: 2em 1em 1em 1em;
  }

  .sbi-info {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 2em;
  }

  .sbi-circle {
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    min-width: 80px;
    margin-right: 20px;
  }

  .sbi-info .sbi-info-title {
    font-size: 20px;
    text-align: left;
  }

  .sbi-info .sbi-info-description {
    font-size: 12px;
    text-align: left;
  }
}
