.sentiment-popover-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  width: 200px;
}

.sentiment-option-buttons {
  margin: 0.5em 0.5em;
}

.sentiment-action-buttons {
  margin-top: 0.5em;
}
