.view-feedback-responses-page {
    margin-top: 8vh;
    margin-left: 3em;
    margin-right: 3em;
}

@media print {
    .view-feedback-responses-page {
        margin-left: 1em;
        margin-right: 1em;
    }
}

.view-feedback-responses-page .responses-filter-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 3em;
    height: 100px;
}

.view-feedback-responses-page .no-responses-found {
    background-color: #e5e5e5;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
}

.question-responses-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.feedback-response-card {
    margin-bottom: 16px;
}

@media screen and (max-width: 800px) {
    .view-feedback-responses-page {
        margin-left: 1em;
        margin-right: 1em;
    }

    .view-feedback-responses-page .responses-filter-container {
        flex-direction: column;
        align-items: center;
        height: 200px;
        margin-bottom: 2em;
    }
}
