.response-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.response-card .response-box {
    width: 100%;
}

.response-card-responder-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
    min-width: 200px;
}

.response-card-responder-info .avatar-photo {
    margin-right: 0.5em;
}

@media (max-width: 800px) {
    .response-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .response-card .response-box {
        width: 100%;
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    .response-card .sentiment-icon {
        justify-self: end;
    }
}