.feedback-template-actions {
  margin: 20px 32px 0 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feedback-template-actions .ad-hoc-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0 0 3em;
}

.feedback-template-actions .feedback-template-search {
  width: 40ch;
}

@media (max-width: 767px) {
  .feedback-template-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feedback-template-actions .ad-hoc-button {
    margin: 16px 0 0 0;
  }
}
