:root {
  /** Breakpoints
      (more of a reference unless we bring in 
      postcss & custom-media)
  */
  --sm: 600px;
  --md: 900px;
  --lg: 1200px;
  --xl: 1536px;

  /* Colors */
  --oci-light-blue: #76c8d4;
  --oci-dark-blue: #2c519e;
  --oci-orange: #f8b576;

  --black: #121212;
  --white: #fff;

  --primary-light: var(--oci-dark-blue);
  --primary-dark: #1a2e4f;
  --secondary-main: #76c8d4; /* are we using secondary? */
  --primary-link-light: var(--primary-light);
  --primary-link-light-hover: #6084d1;
  --primary-link-dark: #6b81b3;
  --primary-link-dark-hover: #4f5f8c;

  /* MUI Prefixes */
  --checkins-palette-primary-main: var(--primary-light);
  --checkins-palette-primary-link: var(--primary-light);
  --checkins-palette-primary-link-hover: var(--primary-link-light-hover);
  --checkins-palette-primary-contrastText: #fff;
  --checkins-palette-primary-menuItem: #111;
  --checkins-palette-background-paper: #fff;
  --checkins-palette-background-default: #f5f5f5;
  --checkins-palette-content-color: var(--checkins-palette-primary-menuItem)

  /* Sizing */
  --nav-width: 250px;

  @media (min-width: 600px) {
    --nav-width: 150px;
  }

  &[data-mui-color-scheme='dark'] {
    --checkins-palette-primary-main: var(--primary-dark);
    --checkins-palette-primary-link: var(--primary-link-dark);
    --checkins-palette-primary-link-hover: var(--primary-link-dark-hover);
    --checkins-palette-primary-menuItem: var(--primary-link-dark);
    --checkins-palette-AppBar-darkBg: var(--checkins-palette-primary-main);
    --checkins-palette-background-paper: #121212;
    --checkins-palette-background-default: #121212;
    --checkins-palette-content-color: var(--white)
  }
}
