:root {
  /** Breakpoints
      (more of a reference unless we bring in 
      postcss & custom-media)
  */
  --sm: 600px;
  --md: 900px;
  --lg: 1200px;
  --xl: 1536px;

  /* Colors */
  --primary-main: #2d519e;
  --primary-dark: var(--primary-main);
  --secondary-main: #76c8d4 
  
  /* MUI Defaults */
  --checkins-palette-primary-main: var(--primary-main);
  --checkins-palette-primary-dark: var(--primary-main);
  --checkins-palette-primary-light: var(--primary-dark);
  --checkins-palette-primary-contrastText: #fff;

  /* Sizing */
  --nav-width: 250px;

  @media (min-width: 600px) {
    --nav-width: 150px;
  }

  [data-mui-color-scheme='dark'] {
    --checkins-palette-primary-main: var(--primary-main);
  }
}
