@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #F0E2DB;
  font-size: 20px;
  transition: 1s;
}

body.open{
  animation: bg-change 1s 1;
  background-color: #72c8d5;
  transition: 1s;
}
@keyframes bg-change{
  0%{
      background-color: #F0E2DB;
  }
  100%{
      background-color: #72c8d5;
  }
}
.anniversaries {
  display: flex;
  justify-content: center;
}
.gift {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform-origin: 0% 0%;
  transform: translate(-50%, -50%);
  transition: 1s;
/*   animation: dukdik 0.5s infinite; */
}
.dukdik{
  transform-origin: 0% 0%;
  animation: dukdik 0.5s infinite;
}
@keyframes dukdik {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  25%{
    transform: rotate(1deg) translate(-50%, -50%);
  }
  50%{
    transform: rotate(0deg) translate(-50%, -50%);
  }
  70%{
    transform: rotate(-1deg) translate(-50%, -50%);
  }
  100%{
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
.gift-top {
  position: relative;
  width: 110%;
  height: 25%;
  background: #2559a7;
  border-radius: 5px 5px 0 0;
  transform: translate3d(-5%, 0, 0);
  background-image: linear-gradient(to right, #2559a7 0%, #2559a7 44%, #feb672 44%, #feb672 56%, #2559a7 56%, #2559a7 100%);
  transition: 1s;
}
.gift-top.boxOpen{
  animation: box-open 1s;
  opacity:0;
}
@keyframes box-open{
  0%{
    top:0px;
    opacity:1;
  }
  100%{
    top:-50px;
    opacity:0;
  }
}
.gift-top::before,
.gift-top::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 10px solid #feb672;
    border-radius: 50% 50% 0 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-100%, -100%, 0) skew(10deg, 10deg);
}

.gift-top::after {
  border-radius: 50% 50% 50% 0;
  transform: translate3d(0, -100%, 0) skew(-10deg, -10deg);
}

.gift-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  color: #FFFFFF;
  white-space: nowrap;
  transform: translate3d(-50%, -50%, 0) scale(.5);
  transform-origin: center center;
  z-index: -1;
  opacity:1;
  transition: 5s;
}

.gift-box {
  width: 100%;
  height: 75%;
  position:relative;
  background-image: linear-gradient(to right, #2559a7 0%, #2559a7 45%, #feb672 45%, #feb672 55%, #2559a7 55%, #2559a7 100%);
  border-radius: 0 0 5px 5px;
  transition: 1s;
}
.gift-box.boxDown{
  animation: box-down 1s; 
  opacity:0; 
}
@keyframes box-down{
  0%{
    top:0px;
    opacity:1;
  }
  100%{
    top:50px;
    opacity:0;
  }  
}