@import url('https://fonts.googleapis.com/css?family=Wendy+One');

body {
  font-family: 'Wendy One', sans-serif;
}

.birthdays-container p {
  text-transform: uppercase;
}

.birthdays-container .bday-title {
  display: flex;
  justify-content: center;
}
.birthdays-card {
  min-width: 450px;
}
.birthdays-card span {
  color: var(--checkins-palette-primary-link);
  font-weight: bold;
}
.birthdays-container {
  position: relative;
}
.balloons {
  margin: 0 auto;
  position: absolute;
  left: 5rem;
  top: -3.5rem;
}
.balloons > div {
  width: 80px;
  height: 100px;
  background: rgba(182, 15, 97, 0.9);
  border-radius: 0;
  border-radius: 80% 80% 80% 80%;
  margin: 0 auto;
  position: absolute;
  padding: 10px;
  box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
  -webkit-transform-origin: bottom center;
}
.balloons > div:nth-child(1) {
  background: rgba(182, 15, 97, 0.9);
  left: 0;
  box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
  -webkit-animation: balloon1 6s ease-in-out infinite;
  -moz-animation: balloon1 6s ease-in-out infinite;
  -o-animation: balloon1 6s ease-in-out infinite;
  animation: balloon1 6s ease-in-out infinite;
}
.balloons > div:nth-child(1):before {
  color: rgba(182, 15, 97, 0.9);
}
.balloons > div:nth-child(2) {
  background: rgba(242, 194, 58, 0.9);
  left: 8rem;
  top: -1.5rem;
  box-shadow: inset 10px 10px 10px rgba(192, 154, 43, 0.9);
  -webkit-animation: balloon2 6s ease-in-out infinite;
  -moz-animation: balloon2 6s ease-in-out infinite;
  -o-animation: balloon2 6s ease-in-out infinite;
  animation: balloon2 6s ease-in-out infinite;
}
.balloons > div:nth-child(2):before {
  color: rgba(242, 194, 58, 0.9);
}
.balloons > div:nth-child(3) {
  background: rgba(45, 181, 167, 0.9);
  left: 240px;
  box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
  -webkit-animation: balloon4 6s ease-in-out infinite;
  -moz-animation: balloon4 6s ease-in-out infinite;
  -o-animation: balloon4 6s ease-in-out infinite;
  animation: balloon4 6s ease-in-out infinite;
}
.balloons > div:nth-child(3):before {
  color: rgba(45, 181, 167, 0.9);
}

.balloons > div:before {
  position: absolute;
  bottom: -11px;
  left: 32px;
  content: '▲';
  font-size: 1em;
}
.balloons p {
  font-size: 0.75em;
  font-weight: bold;
  line-height: 0.5em;
  text-align: center;
  color: white;
  position: relative;
  top: 25%;
}
.balloons:hover {
  cursor: pointer;
}
/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {
  0%,
  100% {
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(8deg);
  }
}
@-moz-keyframes balloon1 {
  0%,
  100% {
    -moz-transform: translateY(0) rotate(-6deg);
  }
  50% {
    -moz-transform: translateY(-20px) rotate(8deg);
  }
}
@-o-keyframes balloon1 {
  0%,
  100% {
    -o-transform: translateY(0) rotate(-6deg);
  }
  50% {
    -o-transform: translateY(-20px) rotate(8deg);
  }
}
@keyframes balloon1 {
  0%,
  100% {
    transform: translateY(0) rotate(-6deg);
  }
  50% {
    transform: translateY(-20px) rotate(8deg);
  }
}
/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(6deg);
  }
  50% {
    -webkit-transform: translateY(-30px) rotate(-8deg);
  }
}
@-moz-keyframes balloon2 {
  0%,
  100% {
    -moz-transform: translateY(0) rotate(6deg);
  }
  50% {
    -moz-transform: translateY(-30px) rotate(-8deg);
  }
}
@-o-keyframes balloon2 {
  0%,
  100% {
    -o-transform: translateY(0) rotate(6deg);
  }
  50% {
    -o-transform: translateY(-30px) rotate(-8deg);
  }
}
@keyframes balloon2 {
  0%,
  100% {
    transform: translateY(0) rotate(6deg);
  }
  50% {
    transform: translateY(-30px) rotate(-8deg);
  }
}
/* BAllOON 0*/
@-webkit-keyframes balloon3 {
  0%,
  100% {
    -webkit-transform: translate(0, -10px) rotate(6deg);
  }
  50% {
    -webkit-transform: translate(-20px, 30px) rotate(-8deg);
  }
}
@-moz-keyframes balloon3 {
  0%,
  100% {
    -moz-transform: translate(0, -10px) rotate(6deg);
  }
  50% {
    -moz-transform: translate(-20px, 30px) rotate(-8deg);
  }
}
@-o-keyframes balloon3 {
  0%,
  100% {
    -o-transform: translate(0, -10px) rotate(6deg);
  }
  50% {
    -o-transform: translate(-20px, 30px) rotate(-8deg);
  }
}
@keyframes balloon3 {
  0%,
  100% {
    transform: translate(0, -10px) rotate(6eg);
  }
  50% {
    transform: translate(-20px, 30px) rotate(-8deg);
  }
}
/* BAllOON 3*/
@-webkit-keyframes balloon4 {
  0%,
  100% {
    -webkit-transform: translate(10px, -10px) rotate(-8deg);
  }
  50% {
    -webkit-transform: translate(-15px, 20px) rotate(10deg);
  }
}
@-moz-keyframes balloon4 {
  0%,
  100% {
    -moz-transform: translate(10px, -10px) rotate(-8deg);
  }
  50% {
    -moz-transform: translate(-15px, 10px) rotate(10deg);
  }
}
@-o-keyframes balloon4 {
  0%,
  100% {
    -o-transform: translate(10px, -10px) rotate(-8deg);
  }
  50% {
    -o-transform: translate(-15px, 10px) rotate(10deg);
  }
}
@keyframes balloon4 {
  0%,
  100% {
    transform: translate(10px, -10px) rotate(-8deg);
  }
  50% {
    transform: translate(-15px, 10px) rotate(10deg);
  }
}
@media (max-width: 1180px) {
  .birthdays-container {
    margin-top: 6rem;
  }
}
@media (max-width: 600px) {
  .birthdays-card {
    margin: 0 1rem;
    min-width: unset;
  }
  .birthdays-card h5 {
    font-size: 1rem;
  }
  .birthdays-container .balloons {
    left: 3rem;
  }
}

@media (max-width: 320px) {
  .balloons > div:nth-child(1) {
    left: -2rem;
  }
  .balloons > div:nth-child(2) {
    left: 4.5rem;
  }
  .balloons > div:nth-child(3) {
    left: 10.5rem;
  }
}
