
.double-celebration {
  display: flex;
  flex-direction: column;
}

.double-celebration .anniv {
    margin-bottom: 10rem;
}

.double-celebration .bday {
    margin-top: 10rem;
}

.double-celebration h1 {
    margin: 0;
}