.date-box-hidden {
  display: none;
}

.skill-slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}

@media screen and (max-width: 600px) {

  .skill-slider {
    width: 100px;
  }

}
