.date-box-hidden {
  display: none;
}

.skill-slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}

.discrete-slider {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 40rem;
}

@media screen and (max-width: 600px) {

  .skill-slider {
    width: 100px;
  }

}
