.skills h1 {
  margin: 10px auto;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.container > canvas {
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
}

.container .skeleton {
  border: 2px solid black;
  min-height: 150px;
  padding: 5px;
}

.skill-modal {
  position: absolute;
  min-width: 400px;
  max-width: 600px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  padding: 0.5rem;
  padding: 1rem;
  padding-right: 0;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}
.skill-modal-actions {
  margin-top: 1rem;
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: center;
}

.skill-modal .MuiTextField-root.fullWidth {
  width: calc(100% - 1rem);
}

.skeleton {
  width: 100%;
}

.MuiTextField-root.fullWidth {
  width: calc(100% - 1rem);
}

.MuiTextField-root.halfWidth {
  width: calc(50% - 0.5rem);
  text-align: center;
}

.skill-section .MuiTextField-root {
  margin: 0.5rem;
  width: 25ch;
}

.search-div {
  text-align: center;
}

.slider-div {
  display: flex;
}

.skill-card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 16px 16px 16px;
  justify-content: space-between;
}

.skill-card-header .skill-card-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.skill-search-autocomplete {
  width: 18em;
}

@media screen and (max-width: 500px) {
  .skill-card-header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
    padding-right: 0;
  }

  .skill-search-autocomplete {
    width: 100%;
  }
}
