.Profile .current-skills {
  background-color: green;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-weight: 600;
  margin: 5px;
  padding: 5px;
}

.Profile .skills-section {
  max-width: 50%;
  margin: auto;
}

.Profile .skills-section h2 {
  text-align: center;
}

.Profile .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.Profile .profile-image {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.Profile input {
  background-color: unset;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Profile input:not(:disabled) {
  border: 1px solid black;
}

.Profile .input-component label {
  display: inline-block;
  width: 50px;
}

.Profile label {
  font-weight: 600;
}

.Profile p {
  font-size: 16px;
}

.Profile span {
  font-weight: 600;
}

.Profile textarea {
  background-color: unset;
  border-radius: 2px;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  min-height: 50px;
  min-width: 350px;
}

.Profile textarea:not(:disabled) {
  border: 1px solid black;
}
