@import 'styles/_variables.css';

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a,
  a:visited {
    color: var(--checkins-palette-primary-link);
  }

  a:hover {
    color: var(--checkins-palette-primary-link-hover);
  
  }
}

@media (min-width: 600px) {
  .App {
    margin-top: 65px;
    padding-left: 150px;
  }
}

@media print {
  :root {
    --nav-width: 0px;
  }

  .App {
    padding-left: 0;
  }
}

.App-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

textarea {
  resize: none;
}
