.checkin-report-card {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 100vw;

  .checkin-report-card-title-container {
    display: flex;
    flex-direction: column;
  }

  .checkin-report-card-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20rem;
  }
}

.checkin-report-no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

#accordion-checkin-date {
  flex-direction: column;
}

.checkin-report-link {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.checkin-report-link .MuiChip-colorPrimary {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.checkin-report-link .MuiChip-colorSecondary {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.MuiAccordionSummary-content {
  align-items: center;
}

.MuiAccordionSummary-content > p {
  margin-left: 1rem;
}

#member-sub-card {
  background-color: var(--checkins-palette-background-default);
  margin-top: 1rem;
}

#pdl-card {
  margin: 1rem;
  width: 100vw;
}

#pdl-large {
  height: 4rem;
  width: 4rem;
}
