.agenda-items-container {
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 75%;
}

.agenda-items {
  margin-top: 25px;
}

.agenda-items > h1 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 75%;
}

.agenda-container {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  min-height: 150px;
  width: 100%;
}

.agenda-items .description-field {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.agenda-items-info,
.agenda-items-info-hidden {
  text-align: left;
  display: inline-block;
  margin-bottom: 1px;
  margin-top: 1px;
}

.agenda-items-info-hidden {
  background-color: lightgrey;
  color: lightgrey;
  width: 100%;
}

.agenda-items .drag-icon {
  display: flex;
  align-items: center;
}

.agenda-items-container .image-div {
  display: flex;
  cursor: auto;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 25px;
}

.agenda-items .description-field .text-input {
  padding: 5px;
  width: 100%;
}

.agenda-items .skeleton {
  padding-right: 10px;
  width: 100%;
}

.add-new-item {
  border-bottom: "2px solid black";
  display: "flex";
  padding: "12px 8px";
}

.edit-icon:hover {
  background-color: green !important;
}

.delete-icon:hover {
  background-color: red !important;
}
