.personnel-container {
  width: fit-content;
  height: fit-content;
  border: solid 3px black;
}

.member-image {
  max-width: 64px;
  max-height: 64px;
  margin: auto;
}

.personnel-info, .personnel-info-hidden {
  text-align: left;
  margin-left: 15px;
  display: inline-block;
  margin-bottom: 1px;
  margin-top: 1px;
}

.personnel-info-hidden {
  background-color: lightgrey;
  color: lightgrey;
  width: 100%;
}

.image-div {
  cursor: auto;
  margin-left : 15px;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 25px;
}

.info-div {
  display: block;
}
