.member-card {
  max-height: 20rem;
  width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 2em 2em 0;
}

.member-card .member-summary-avatar {
  height: 5rem;
  width: 5rem;
  margin-right: 1.25rem;
}

.member-summary-parent {
  display: flex;
  align-items: center;
}

.member-card .large {
  width: theme-spacing(10);
  height: theme-spacing(10);
}

.member-card .info-container {
  padding: 0;
}

.member-card .split-button {
  padding: 1rem;
}

.member-card .MuiCardHeader-content h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 225px;
}

.member-card .MuiCardHeader-content h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 225px;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
