#cultureVideo {
  text-transform: unset !important;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

#introductionSurvey {
  text-transform: unset !important;

  position: absolute;
  right: 5%;
  bottom: 5%;
}

