#workEquipment {
  text-transform: unset !important;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

#finish {
  text-transform: unset !important;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
