#workOption {
  text-align: center;
}

#survey {
  text-transform: unset !important;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

#equipment {
  text-transform: unset !important;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
