name: Gradle Build - Feature / Bug
on:
  push:
    branches:
      - 'feature-**/*'
      - 'bugfix-**/*'
      - 'chore-**/*'
      - 'doc-**/*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node 14
        uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Gradle package
        run: ./gradlew assemble
      - name: Gradle runs tests
        run: ./gradlew check
      - name: Do SonarQube checks
        run: |
          ./gradlew sonarqube -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.host.url=$SONAR_URL -Dsonar.login=$TOKEN
          curl -u "${SONAR_LOGIN}:" https://sonarqube.cloudops.objectcomputing.com/api/qualitygates/project_status?projectKey=css-acg > result.json
          cat result.json
          if [[ $(jq -r '.projectStatus.status' result.json) = ERROR ]] ; then exit 1;fi

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_PROJECT_KEY: oci-checkins
          SONAR_URL: https://sonarqube.cloudops.objectcomputing.com
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}