.checkin-report-card {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 100vw;

  .checkin-report-stepper {
    margin-bottom: 1rem;
  }

  .checkin-report-card-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20rem;
  }

  .checkin-report-card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
