.team-member-map-accordion {
  .team-member-map-accordion-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;

    .team-member-map-summmary-content {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      gap: 1rem;
      align-items: center;
      width: 100%;
      margin: 0 0.75rem;
    }

    .team-member-map-summmary-latest-activity {
      color: var(--muted);
    }
  }
}

.team-member-map-no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
